.hedercolor{
background-color: rgb(252, 0, 0);
height: 100px;
}
.custom-switch {  /* darkmode */
    padding-left: 47%;
    color: #ffffff;
}
.bgcolornav{
 background-color: rgb(252, 0, 0);
}
.navbarbutton{
color: aliceblue; 
font-size: 1.5vmax;   
}

.logocolor{
 color: rgb(255, 255, 255);
 font-size: 3vw;
}
.navbar-light{
 background-color: aliceblue;
}


#section1{
    background-color: black;
}
body{
    margin: 0;
}

