[data-theme="dark"] {
  background-color: #111 !important;
}

[data-theme="dark"] .hedercolor {
  color: #eee !important;
  background-color: rgb(47, 47, 48) !important;
}

[data-theme="dark"] .bgcolornav {
  color: #eee !important;
  background-color: rgb(47, 47, 48) !important;
}